<center>
<h1> Blue Ribbon Applicant Tracking System</h1>
 <p>Keep track of all candidates and jobs here!</p>


 <% if !user_signed_in? %>
  <p>New to Blue Ribbon? <%= link_to 'Sign Up!', new_user_registration_path %></p>
  <p>Already a member? <%= link_to 'Sign in', new_user_session_path %></p>
<% end %>
<br>
<%= link_to 'create new job folder', new_job_path %>
<%= link_to 'show current jobs', jobs_path %>
</center>

